/* root /////////////////////////////////////////////////////////////////////////////////////////////////////////*/
:root {
  --main-medium-color: #faf6f3;
  --orange-complimetary-color: #f6a98f;
  --main-dark-color: #f5e5d6;
  --main-light-color: #4c4c4c;
  --primary-text: #5f5f5f;
  --secondary-text: #ffffff;
  --title-font-family: "PT Sans", sans-serif;
  --main-font-family: "Roboto", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(
    to bottom,
    var(--main-dark-color),
    var(--main-dark-color),
    white
  );
  height: 97vh;
  width: 99vw;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  /* overflow: hidden; */
}

@media screen and (max-width: 735px) {
  body {
    height: auto;
    width: 100vw;
  }
}

li {
  list-style: none;
}

a,
a:hover,
a:visited,
a:active {
  color: inherit;
  text-decoration: none;
}

a:hover {
  color: var(--orange-complimetary-color);
  transition: all 0.3s ease-in;
}

/* <!-- ============================================ -->
<!--                   UTILITIES                    -->
<!-- ============================================ --> */

.hide {
  display: none;
}

.no-visibility {
  visibility: hidden;
}

.radius {
  border-radius: 5px;
}

.light-border-right {
  border-bottom: solid 1px;
  border-image: linear-gradient(
      to left,
      rgba(136, 136, 136, 0.381) 10%,
      #162b24
    )
    1;
}

.light-border-left {
  border-bottom: solid 1px;
  border-image: linear-gradient(
      to right,
      rgba(136, 136, 136, 0.381) 10%,
      #162b24
    )
    1;
}

@media screen and (max-width: 730px) {
  .light-border-right {
    border-bottom: none;
    border-right: solid 1px;
    border-image: linear-gradient(
        to bottom,
        rgba(136, 136, 136, 0.381) 10%,
        #162b24
      )
      1;
  }
}

.highlight {
  color: var(--orange-complimetary-color);
}

.non-active {
  color: var(--secondary-text);
}

.icon {
  font-size: 22px;
  padding: 0 8px;
}

/* <!-- ============================================ -->
<!--               MOST-OUTER-CONTAINER           -->
<!-- ============================================ --> */

.app-outermost-container {
  height: 82%;
  width: 73%;
  z-index: 9999;
  display: flex;
}

/* ADJUST CONTAINER SIZE FOR COMPUTER 1600PX AND BELOW============================================== */
@media screen and (max-width: 1600px) {
  .app-outermost-container {
    height: 82%;
    width: 85%;
    z-index: 9999;
    display: flex;
  }
}

/* ADJUST CONTAINER SIZE FOR COMPUTER 1490PX AND BELOW=============================================== */
@media screen and (max-width: 1490px) {
  .app-outermost-container {
    height: 82%;
    width: 92%;
    z-index: 9999;
    display: flex;
  }
}

/* ADJUST CONTAINER SIZE FOR COMPUTER 1200PX AND BELOW=============================================== */
@media screen and (max-width: 1200px) {
  .app-outermost-container {
    width: 69%;
    height: 100%;
    display: block;
    margin-top: 50px;
  }
}

/* ADJUST CONTAINER SIZE FOR COMPUTER 1000PX AND BELOW=============================================== */
@media screen and (max-width: 1000px) {
  .app-outermost-container {
    width: 77%;
    height: 100%;
    display: block;
    margin-top: 50px;
  }
}

/* ADJUST CONTAINER SIZE FOR COMPUTER 850PX AND BELOW=============================================== */
@media screen and (max-width: 850px) {
  .app-outermost-container {
    width: 88%;
    height: 100%;
    display: block;
    margin-top: 50px;
  }
}

/* ADJUST CONTAINER SIZE FOR COMPUTER 750PX AND BELOW=============================================== */
@media screen and (max-width: 736px) {
  .app-outermost-container {
    width: 89%;
    height: 100%;
    display: block;
    margin-top: 0px;
  }
}

/* ADJUST CONTAINER SIZE FOR COMPUTER 730PX AND BELOW=============================================== */
@media screen and (max-width: 730px) {
  .app-outermost-container {
    width: 97%;
  }
}

/* ADJUST CONTAINER SIZE FOR COMPUTER 400PX AND BELOW=============================================== */
@media screen and (max-width: 400px) {
  .app-outermost-container {
    width: 100%;
  }
}

/* <!-- ============================================ -->
<!--             nav-and-facesection-wrap           -->
<!-- ============================================ --> */

.nav-and-facesection-wrap {
  display: flex;
  flex: 0 2 47%;
  /* border: solid red; */
}

/* ADJUST CONTAINER SIZE FOR COMPUTER 1200PX AND BELOW=============================================== */
/* HEIGHT OF TOP SECTION NAV AND FACESECTION */
@media screen and (max-width: 1200px) {
  .nav-and-facesection-wrap {
    height: 850px;
  }
}

/* ADJUST CONTAINER SIZE FOR COMPUTER 735PX AND BELOW=============================================== */
/* HEIGHT OF TOP SECTION NAV AND FACESECTION */
@media screen and (max-width: 735px) {
  .nav-and-facesection-wrap {
    display: block;
    height: auto;
  }
}

/* <!-- ============================================ -->
<!--                  NAV BAR                       -->
<!-- ============================================ --> */

nav {
  height: 85%;
  flex: 0 2 5%;
  align-self: center;
  font-family: var(--main-font-family);
  font-weight: 400;
  font-size: 13px;
  margin-right: 3px;
  z-index: 9999;
  color: var(--primary-text);
}

nav ul {
  margin-top: 40px;
}

nav li {
  padding: 0 10px;
  text-align: center;
  background-color: var(--main-medium-color);
  display: flex;
  flex-direction: column;
  text-transform: uppercase;
}

nav li a {
  display: flex;
  flex-direction: column;
  gap: 3px;
  justify-content: center;
  align-items: center;
  color: var(--primary-text);
}

/* rounded corners on tabs */
nav li:first-child {
  border-radius: 5px 5px 0 0;
}

nav li:last-child {
  border-radius: 0 0 5px 5px;
  border-bottom: none;
}

/* icon/label margins and paddings */

nav li a:first-child {
  margin-bottom: 10px;
}

nav li a:last-child {
  margin-top: 30px;
}

/* ADJUST CONTAINER SIZE FOR COMPUTER 730PX AND BELOW=============================================== */
@media screen and (max-width: 735px) {
  nav {
    overflow: scroll;
    margin-right: 0px;
    position: relative;
  }

  nav::before {
    content: "";
    position: absolute;
    background-color: white;
    padding: 10px;
    left: 0;
    right: 0;
    bottom: 80px;
  }

  nav ul {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    margin-top: 10px;
  }

  nav li {
    padding: 0 1px;
  }

  nav li a {
    gap: 4px;
  }

  /* rounded corners on tabs */
  nav li:first-child {
    border-radius: 0px 0px 0 0;
  }

  nav li:last-child {
    border-radius: 0 0 0px 0px;
  }

  /* icon/label margins and paddings */

  nav li a:first-child {
    margin-bottom: 15px;
  }

  nav li a:last-child {
    margin-top: 25px;
  }
}

/* ADJUST CONTAINER SIZE FOR COMPUTER 430PX AND BELOW=============================================== */
@media screen and (max-width: 430px) {
  nav {
    font-size: 12px;
  }

  nav li:last-child {
    border-right: none;
  }

  nav li a {
    gap: 5px;
  }
}

/* <!-- ============================================ -->
<!--               FACE SECTION                      -->
<!-- ============================================ --> */

.face-section-outermost-container {
  margin-left: 5px;
  /* width: 34%; */
  height: 95%;
  flex: 0 2 95%;
  align-self: center;
  background-color: var(--main-medium-color);
  position: relative;
  color: var(--primary-text);
}

.face-section-outermost-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: -10;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  box-shadow: -15px -15px 1px var(--orange-complimetary-color);
  z-index: -1;
}

/* IMAGE SECTION */
.image-container {
  width: 100%;
  height: 50%;
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px 5px 60px 60px;
  /* clip-path: polygon(0% 0%, 1000% 0, 100% 20%, 120% 0%, 90% 90%, 0% 100%); */
}

/* TITLE SECTION */
.title-div-container {
  width: 100%;
  height: 45%;
  margin-top: -90px;
  text-align: center;
}

.title-div-container img {
  width: 190px;
  border-radius: 100px;
  border: solid rgb(255, 255, 255);
}

.title-div {
  padding: 5px;
}

.title-div h2 {
  margin: 5px;
  font-family: var(--title-font-family);
  font-size: 35px;
}

.title-div p {
  margin: 5px;
  font-family: var(--main-font-family);
  font-weight: 400;
  color: var(--orange-complimetary-color);
}

.social-icons {
  margin: 35px 0 40px 0;
}

.gitgub-icon {
  font-size: 18px;
  padding: 5px 8px 0 8px;
  cursor: pointer;
}

/* CALL TO ACTION SECTION */
.call-to-actions {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 9%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  font-family: var(--main-font-family);
}

.download-cv {
  height: 100%;
  border-top: solid 1px;
  border-right: solid 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-image: linear-gradient(
      to left,
      rgba(136, 136, 136, 0.381) 10%,
      #162b24
    )
    1;
  cursor: pointer;
}

.contact-me {
  height: 100%;
  border-top: solid 1px;
  border-image: linear-gradient(
      to right,
      rgba(136, 136, 136, 0.381) 10%,
      #162b24
    )
    1;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

/* ADJUST CONTAINER SIZE FOR COMPUTER 730PX AND BELOW=============================================== */
@media screen and (max-width: 735px) {
  .face-section-outermost-container {
    margin-left: 0px;
  }
  .face-section-outermost-container::before {
    display: none;
  }

  /* IMAGE SECTION */
  .image-container {
    height: 400px;
  }

  /* TITLE SECTION */
  .title-div-container {
    margin-top: -70px;
    height: 500px;
  }

  .title-div-container img {
    width: 205px;
  }

  .title-div {
    padding: 15px;
  }

  .title-div h2 {
    margin: 15px;

    font-size: 40px;
  }

  .title-div p {
    font-size: 20px;
  }

  .social-icons {
    margin: 40px 0 45px 0;
  }

  .gitgub-icon {
    font-size: 20px;
    padding: 0 12px;
  }

  /* CALL TO ACTION SECTION */
  .call-to-actions {
    font-size: 20px;
  }
}

/* ADJUST CONTAINER SIZE FOR COMPUTER 500PX AND BELOW=============================================== */
@media screen and (max-width: 500px) {
  /* IMAGE SECTION */
  .image-container {
    height: 300px;
  }

  /* TITLE SECTION */
  .title-div-container {
    margin-top: -65px;
    height: 420px;
  }

  .title-div-container img {
    width: 175px;
  }

  /* .title-div {
    padding: 15px;
  } */

  .title-div h2 {
    margin: 17px;

    font-size: 35px;
  }

  .title-div p {
    font-size: 16px;
  }

  /* .social-icons {
    margin: 40px 0 45px 0;
  } */

  .gitgub-icon {
    font-size: 26px;
    padding: 0 9px;
  }

  /* CALL TO ACTION SECTION */
  .call-to-actions {
    font-size: 17px;
  }
}

/* ADJUST CONTAINER SIZE FOR COMPUTER 400PX AND BELOW=============================================== */
@media screen and (max-width: 430px) {
  /* TITLE SECTION */
  .title-div-container {
    margin-top: -63px;
    height: 439px;
  }

  .title-div-container img {
    width: 172px;
  }

  .title-div h2 {
    margin-top: 20px;
    margin-bottom: 10px;

    font-size: 36px;
  }

  .gitgub-icon {
    padding: 0 10px;
  }

  /* CALL TO ACTION SECTION */
  .call-to-actions {
    font-size: 16px;
  }
}

/* <!-- ============================================ -->
<!--               PAGE SECTION                      -->
<!-- ============================================ --> */

.page-section-container {
  background-color: var(--main-medium-color);
  height: 90%;
  align-self: center;
  flex: 1 1 0;
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
  overflow: scroll;
  color: var(--primary-text);
}

.title-container {
  padding: 35px;
}

.title-container h2 {
  font-family: var(--title-font-family);
  position: relative;
}

.title-container h2::before {
  content: "";
  height: 35px;
  width: 35px;
  background: linear-gradient(to bottom, #f6a98f 10%, #74747400);
  position: absolute;
  border-radius: 50px;
  left: -20px;
  top: 2px;
}

/* ADJUST CONTAINER SIZE FOR COMPUTER 730PX AND BELOW=============================================== */
@media screen and (max-width: 730px) {
  .page-section-container {
    margin-top: 5%;
    margin-bottom: 200px;
  }
}

/* <!-- ============================================ -->
<!--               ABOUT ME PAGE                      -->
<!-- ============================================ --> */

.about-page-outermost-container {
}

.bio-container {
  padding: 35px;
  font-family: var(--main-font-family);
  font-size: 1.1rem;
  line-height: 1.4;
}

.bio-container p {
  position: relative;
  color: black;
}

.bio-container p::before {
  content: "Perseverance";
  font-size: 80px;
  font-family: var(--title-font-family);
  position: absolute;
  border-radius: 50px;
  left: 390px;
  top: 180px;
  color: #da6e2a3a;
  transform: rotate(90deg);
}

.bio-container p::after {
  content: "Focus";
  font-size: 90px;
  font-family: var(--title-font-family);
  position: absolute;
  border-radius: 50px;
  left: 250px;
  top: 190px;
  color: #da6e2a3a;
}

.about-lottie-container {
  margin: auto;
  margin-top: 40px;
  width: 300px;
}

/* ADJUST CONTAINER SIZE FOR COMPUTER 2000PX AND UP=============================================== */
@media screen and (min-width: 2000px) {
  .about-lottie-container {
    margin-top: 100px;
    width: 350px;
  }
}

/* ADJUST CONTAINER SIZE FOR COMPUTER 750PX AND BELOW=============================================== */
@media screen and (max-width: 750px) {
  .about-page-outermost-container {
  }

  .bio-container {
    padding: 15px;

    font-size: 16px;
    line-height: 1.5;
  }

  .bio-container p {
  }

  .bio-container p::before {
    font-size: 90px;

    left: -190px;
    top: 200px;
  }

  .bio-container p::after {
    left: 160px;
    top: 150px;
  }

  .about-lottie-container {
    margin-top: 140px;
    width: 300px;
  }
}

/* <!-- ============================================ -->
<!--                 RESUME PAGE                     -->
<!-- ============================================ --> */

.resume-container {
  margin: auto;
  margin-top: 30px;
  position: relative;
  overflow: hidden;
  width: 95%;
  padding-top: 120%;
}

.resume-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

/* ADJUST CONTAINER SIZE FOR COMPUTER 430PX AND BELOW=============================================== */
@media screen and (max-width: 430px) {
  .resume-container {
    margin-bottom: 40px;
    padding-top: 140%;
  }
}

/* <!-- ============================================ -->
<!--                 PROJECTS PAGE                 -->
<!-- ============================================ --> */

.indi-project-outermost-container {
  margin-top: 20px;
  margin-bottom: 50px;
  padding: 10px;
  display: flex;
  position: relative;
}

.project-image-container {
  flex: 1 0 60%;
  border-radius: 15px;
}

.project-image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px;
}

/* right styling/////////////////////// */
.project-image-container-right {
  flex: 1 0 60%;
  order: 2;
  border-radius: 15px;
}

.project-image-container-right img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px;
}

/* INFORMATION SIDE */
.project-info-container {
  text-align: right;
  font-family: var(--main-font-family);
  flex: 2 0 40%;
}

/* for right styling//////////////////////// */
.align-left {
  text-align: left;
}

.project-info-container .featured-project {
  font-weight: 300;
  color: var(--orange-complimetary-color);
  margin-top: 10px;
  padding: 2px 8px 1px 0;
}

.project-info-container h3 {
  font-family: var(--title-font-family);
  font-size: 25px;
}

.project-info-container .project-description {
  background-color: var(--main-light-color);
  padding: 7px;
  margin-top: 20px;
  max-height: 120px;
  overflow: scroll;
  color: var(--secondary-text);
  font-weight: 400;
  font-size: 13px;
  position: absolute;
  left: 290px;
  right: 12px;
  border-radius: 10px;
}
/* for right styling//////////////////////////// */
.project-info-container .project-description-right {
  background-color: var(--main-light-color);
  padding: 7px;
  margin-top: 20px;
  max-height: 120px;
  overflow: scroll;
  color: var(--secondary-text);
  font-weight: 400;
  font-size: 13px;
  position: absolute;
  right: 290px;
  left: 12px;
  border-radius: 10px;
}

.tools-container {
  margin-top: 135px;
  display: flex;
  gap: 12px;
  text-transform: capitalize;
  justify-content: flex-end;
  padding: 20px 0 15px 0;
  font-size: 14px;
  font-weight: 400;
}

.github-projectsite-container p {
  margin-bottom: 10px;
  font-size: 12px;
  text-decoration: underline;
}

.github-projectsite-container a {
  /* border: solid red; */
  padding: 0 3px 0 0;
  /* font-size: 16px; */
}

.justify-left {
  justify-content: start;
}

/* ADJUST CONTAINER SIZE FOR COMPUTER 1400PX AND BELOW=============================================== */
@media screen and (min-width: 1600px) and (max-width: 1850px) {
  .project-info-container .project-description {
    left: 220px;
  }
  /* for right styling//////////////////////////// */
  .project-info-container .project-description-right {
    right: 220px;
  }
}

/* ADJUST CONTAINER SIZE FOR COMPUTER 1400PX AND BELOW=============================================== */
@media screen and (max-width: 1400px) {
  .project-info-container .project-description {
    font-size: 12px;
  }
  /* for right styling//////////////////////////// */
  .project-info-container .project-description-right {
    font-size: 12px;
  }
}

/* ADJUST CONTAINER SIZE FOR COMPUTER 750PX AND BELOW=============================================== */
@media screen and (max-width: 750px) {
  .project-info-container h3 {
    font-size: 25px;
  }
  .project-info-container .project-description {
    left: 220px;
  }
  /* for right styling//////////////////////////// */
  .project-info-container .project-description-right {
    right: 220px;
  }
}

/* ADJUST CONTAINER SIZE FOR COMPUTER 665PX AND BELOW=============================================== */
@media screen and (max-width: 665px) {
  .indi-project-outermost-container {
    margin-bottom: 75px;

    display: block;
  }

  .project-image-container {
    position: relative;
  }

  .project-image-container img {
  }

  /* right styling/////////////////////// */
  .project-image-container-right {
  }

  .project-image-container-right img {
  }

  /* INFORMATION SIDE */
  .project-info-container {
    text-align: center;

    background-color: rgba(0, 0, 0, 0.807);
    width: 95%;
    margin: auto;
    margin-top: -100px;
    position: relative;
    z-index: 9999;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
  }

  /* for right styling//////////////////////// */
  .align-left {
    text-align: center;
  }

  .project-info-container .featured-project {
    font-weight: 400;

    padding: 2px 0px 9px 0;
  }

  .project-info-container h3 {
    color: white;
    font-size: 23px;
  }

  .project-info-container .project-description {
    left: 1px;
    right: 1px;
  }
  /* for right styling//////////////////////////// */
  .project-info-container .project-description-right {
    right: 1px;
    left: 1px;
  }

  .tools-container {
    justify-content: center;
    padding: 20px 0 25px 0;
    color: white;
  }

  .github-projectsite-container p {
    margin-bottom: 10px;
    color: white;
  }

  .github-projectsite-container a {
    /* border: solid red; */
    padding: 0 3px 0 0;
    /* font-size: 16px; */
    color: white;
  }

  .justify-left {
    justify-content: center;
  }
}

/* <!-- ============================================ -->
<!--                   SKILLS PAGE                 -->
<!-- ============================================ --> */

.outermost-skills-div {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(295px, 1fr));
}

.right-skills-container {
  border-right: solid rgba(255, 255, 255, 0.209) 0.1px;

  padding: 40px;
}

.left-skills-container {
  padding: 40px;
}

.indi-skill-container {
  margin: auto;
  margin-top: 10px;
  margin-bottom: 45px;
}

.skill-pic-div {
  margin-bottom: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}

.html {
  background: linear-gradient(
      to bottom,
      rgba(255, 255, 254, 0.761) 20%,
      #43b7ffb5
    ),
    url(./images/html-pic.jpg) no-repeat;

  background-position: center top;
  background-size: cover;
}

.html:hover {
  background: linear-gradient(
      to bottom,
      rgba(255, 255, 254, 0.893) 20%,
      #43b7ffd1
    ),
    url(./images/html-pic.jpg) no-repeat;
  background-position: center center;
  background-size: cover;
}

.css {
  background: linear-gradient(
      to bottom,
      rgba(255, 255, 254, 0.761) 20%,
      #ffef43b5
    ),
    url(./images/css-pic.jpg) no-repeat;

  background-position: center center;
  background-size: cover;
}

.css:hover {
  background: linear-gradient(
      to bottom,
      rgba(255, 255, 254, 0.872) 20%,
      #ffef43d1
    ),
    url(./images/css-pic.jpg) no-repeat;
  background-position: center center;
  background-size: cover;
}

.javascript {
  background: linear-gradient(
      to bottom,
      rgba(255, 255, 254, 0.673) 20%,
      #dd43ffb0
    ),
    url(./images/javascript-pic.jpg) no-repeat;

  background-position: center center;
  background-size: cover;
}

.javascript:hover {
  background: linear-gradient(
      to bottom,
      rgba(255, 255, 254, 0.872) 20%,
      #dd43ffd1
    ),
    url(./images/javascript-pic.jpg) no-repeat;
  background-position: center center;
  background-size: cover;
}

.react {
  background: linear-gradient(
      to bottom,
      rgba(255, 255, 254, 0.858) 20%,
      #ffa743c6
    ),
    url(./images/react-pic.jpg) no-repeat;

  background-position: center center;
  background-size: cover;
}

.react:hover {
  background: linear-gradient(
      to bottom,
      rgba(255, 255, 254, 0.934) 20%,
      #ffa743db
    ),
    url(./images/react-pic.jpg) no-repeat;
  background-position: center center;
  background-size: cover;
}

.github {
  background: linear-gradient(
      to bottom,
      rgba(255, 255, 254, 0.794) 20%,
      #4b4b4bd0
    ),
    url(./images/github-pic.jpg) no-repeat;

  background-position: center center;
  background-size: cover;
}

.github:hover {
  background: linear-gradient(
      to bottom,
      rgba(255, 255, 254, 0.934) 20%,
      #4b4b4bec
    ),
    url(./images/github-pic.jpg) no-repeat;
  background-position: center center;
  background-size: cover;
}

.bootstrap {
  background: linear-gradient(
      to bottom,
      rgba(255, 255, 254, 0.794) 20%,
      #142e51d0
    ),
    url(./images/bootstrap-pic.jpg) no-repeat;

  background-position: center center;
  background-size: cover;
}

.bootstrap:hover {
  background: linear-gradient(
      to bottom,
      rgba(255, 255, 254, 0.934) 20%,
      #142e51ee
    ),
    url(./images/bootstrap-pic.jpg) no-repeat;
  background-position: center center;
  background-size: cover;
}

.wordpress {
  background: linear-gradient(
      to bottom,
      rgba(255, 255, 254, 0.794) 20%,
      #22deffd0
    ),
    url(./images/wordpress-pic.jpg) no-repeat;

  background-position: center center;
  background-size: cover;
}

.wordpress:hover {
  background: linear-gradient(
      to bottom,
      rgba(255, 255, 254, 0.934) 20%,
      #22deffeb
    ),
    url(./images/wordpress-pic.jpg) no-repeat;
  background-position: center center;
  background-size: cover;
}

.photoshop {
  background: linear-gradient(
      to bottom,
      rgba(255, 255, 254, 0.794) 20%,
      #ff81ddd0
    ),
    url(./images/photoshop-pic.jpg) no-repeat;

  background-position: center center;
  background-size: cover;
}

.photoshop:hover {
  background: linear-gradient(
      to bottom,
      rgba(255, 255, 254, 0.934) 20%,
      #ff81dde9
    ),
    url(./images/photoshop-pic.jpg) no-repeat;
  background-position: center center;
  background-size: cover;
}

.webpack {
  background: linear-gradient(
      to bottom,
      rgba(255, 255, 254, 0.794) 20%,
      #b4c75dd0
    ),
    url(./images/webpack-pic.jpg) no-repeat;

  background-position: center center;
  background-size: cover;
}

.webpack:hover {
  background: linear-gradient(
      to bottom,
      rgba(255, 255, 254, 0.934) 20%,
      #b3c75ded
    ),
    url(./images/webpack-pic.jpg) no-repeat;
  background-position: center center;
  background-size: cover;
}

.tailwind {
  background: linear-gradient(
      to bottom,
      rgba(255, 255, 254, 0.794) 20%,
      #81fff9d0
    ),
    url(./images/tailwind-pic.jpg) no-repeat;

  background-position: center center;
  background-size: cover;
}

.tailwind:hover {
  background: linear-gradient(
      to bottom,
      rgba(255, 255, 254, 0.934) 20%,
      #81fff9d0
    ),
    url(./images/tailwind-pic.jpg) no-repeat;
  background-position: center center;
  background-size: cover;
}

.sass {
  background: linear-gradient(
      to bottom,
      rgba(255, 255, 254, 0.794) 20%,
      #cd81ffd0
    ),
    url(./images/sass-pic.jpg) no-repeat;

  background-position: center center;
  background-size: cover;
}

.sass:hover {
  background: linear-gradient(
      to bottom,
      rgba(255, 255, 254, 0.934) 20%,
      #cd81ffd0
    ),
    url(./images/sass-pic.jpg) no-repeat;
  background-position: center center;
  background-size: cover;
}

.git {
  background: linear-gradient(
      to bottom,
      rgba(255, 255, 254, 0.794) 20%,
      #ffe881d0
    ),
    url(./images/git-pic.jpg) no-repeat;

  background-position: center center;
  background-size: cover;
}

.git:hover {
  background: linear-gradient(
      to bottom,
      rgba(255, 255, 254, 0.934) 20%,
      #ffe881d0
    ),
    url(./images/git-pic.jpg) no-repeat;
  background-position: center center;
  background-size: cover;
}

.mysql {
  background: linear-gradient(
      to bottom,
      rgba(255, 255, 254, 0.794) 20%,
      #81fffdd0
    ),
    url(./images/mysql-background.jpg) no-repeat;

  background-position: center center;
  background-size: cover;
}

.mysql:hover {
  background: linear-gradient(
      to bottom,
      rgba(255, 255, 254, 0.934) 20%,
      #81fffdd0
    ),
    url(./images/mysql-background.jpg) no-repeat;
  background-position: center center;
  background-size: cover;
}

.php {
  background: linear-gradient(
      to bottom,
      rgba(255, 255, 254, 0.794) 20%,
      #b681ffd0
    ),
    url(./images/php-background.jpg) no-repeat;

  background-position: center center;
  background-size: cover;
}

.php:hover {
  background: linear-gradient(
      to bottom,
      rgba(255, 255, 254, 0.934) 20%,
      #b681ffd0
    ),
    url(./images/php-background.jpg) no-repeat;
  background-position: center center;
  background-size: cover;
}

.node {
  background: linear-gradient(
      to bottom,
      rgba(255, 255, 254, 0.794) 20%,
      #81ffa7d0
    ),
    url(./images/node-background.jpg) no-repeat;

  background-position: center center;
  background-size: cover;
}

.node:hover {
  background: linear-gradient(
      to bottom,
      rgba(255, 255, 254, 0.934) 20%,
      #81ffa7d0
    ),
    url(./images/node-background.jpg) no-repeat;
  background-position: center center;
  background-size: cover;
}

.skill-pic-div img {
  width: 100%;
}

.skill-pic-div img:hover {
  transform: scale(1.2);
  transition: all 0.3s ease-in;
}

.indi-skill-container h4 {
  text-align: center;
  font-weight: 500;
  font-size: 17px;
}
.indi-skill-container p {
  text-align: center;
  margin-top: 4px;
  font-size: 14px;
  font-weight: 300;
  color: #a3a3a3;
}

/* ADJUST CONTAINER SIZE FOR COMPUTER 750PX AND BELOW=============================================== */
@media screen and (max-width: 750px) {
  .indi-skill-container {
    margin-top: 15px;
    margin-bottom: 75px;
  }

  .right-skills-container {
    border-right: none;
  }

  .indi-skill-container:nth-child(5) {
    margin-bottom: 0;
  }

  .indi-skill-container h4 {
    font-size: 19px;
  }
  .indi-skill-container p {
    margin-top: 10px;
    font-size: 15px;
  }
}

/* ADJUST CONTAINER SIZE FOR COMPUTER 430PX AND BELOW=============================================== */
@media screen and (max-width: 430px) {
  .right-skills-container {
    padding: 25px;
  }

  .left-skills-container {
    padding: 25px;
  }
}

/* ADJUST CONTAINER SIZE FOR COMPUTER 300PX AND BELOW=============================================== */
@media screen and (max-width: 300px) {
  .right-skills-container {
    padding: 19px;
  }

  .left-skills-container {
    padding: 19px;
  }
}

/* <!-- ============================================ -->
<!--                  CONTACT PAGE                 -->
<!-- ============================================ --> */

.contact-info-container {
  margin: auto;
  margin-top: 30px;
  margin-bottom: 30px;
  width: 92%;
}

.location-email-containers {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: solid 1px;
  border-image: linear-gradient(
      to right,
      rgba(136, 136, 136, 0.381) 10%,
      #162b24
    )
    1;
}

.location-email-containers p:first-child {
  padding: 10px 15px;
  background-color: #f6a98f;
  font-family: var(--main-font-family);
  font-size: 16px;
  font-weight: 300;
}

.location-email-containers p:last-child {
  text-align: right;
  font-family: var(--main-font-family);
  font-size: 18px;
  font-weight: 300;
}

.contact-form-outermost-container {
  margin-bottom: 60px;
}

.form-container {
  /* border: solid orange; */
  margin: auto;
  width: 95%;
  padding: 15px;
  margin-top: 20px;
}

.name-email-container {
  /* border: solid red; */
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
  gap: 3%;
  margin-bottom: 20px;
}

.name-email-container input {
  padding: 10px 0 15px 0;
  background-color: transparent;
  border: none;
  border-bottom: solid var(--main-light-color) 1px;
  font-size: 18px;
  color: var(--orange-complimetary-color);
}

.name-email-container input::placeholder {
  font-size: 18px;
}

.name-email-container input:focus {
  outline: none;
  border-bottom: none;
  box-shadow: 0 2px 0 0 var(--orange-complimetary-color);
  transition: all 0.2s ease-in;
}
.form-container form textarea {
  margin-top: 20px;
  background-color: transparent;
  border: none;
  border-bottom: solid var(--main-light-color) 1px;
  width: 100%;
  font-size: 18px;
  color: var(--orange-complimetary-color);
}

.form-container form textarea::placeholder {
  font-size: 18px;
}

.form-container form textarea:focus {
  outline: none;
  border-bottom: none;
  box-shadow: 0 2px 0 0 var(--orange-complimetary-color);
  transition: all 0.2s ease-in;
}

.form-container form button {
  display: block;
  margin-top: 2.5rem;
  font-size: 16px;
  color: var(--main-light-color);
  background-color: transparent;
  border: none;
  text-transform: uppercase;
  cursor: pointer;
}

.form-container form button:hover {
  color: var(--orange-complimetary-color);
  transition: all 0.1s ease-in;
}

/* ADJUST CONTAINER SIZE FOR COMPUTER 750PX AND BELOW=============================================== */
@media screen and (max-width: 750px) {
  .contact-info-container {
    margin-top: 50px;
    margin-bottom: 50px;
  }

  .location-email-containers {
    margin-top: 25px;
  }

  .contact-form-outermost-container {
    margin-bottom: 90px;
  }

  .name-email-container {
    margin-bottom: 40px;
  }

  .form-container form textarea {
    margin-top: 25px;
  }

  .form-container form button {
    margin-top: 4rem;
  }
}

/* ADJUST CONTAINER SIZE FOR COMPUTER 400PX AND BELOW=============================================== */
@media screen and (max-width: 430px) {
  .contact-info-container {
    margin-top: 60px;
    margin-bottom: 60px;
    width: 93%;
  }

  .location-email-containers {
    margin-top: 40px;
  }

  .location-email-containers p:first-child {
    padding: 9px 14px;

    font-size: 15px;
  }

  .location-email-containers p:last-child {
    font-size: 17px;
    font-weight: 400;
  }

  .contact-form-outermost-container {
    margin-bottom: 110px;
  }

  .form-container {
    width: 97%;

    margin-top: 15px;
  }

  .name-email-container {
    margin-bottom: 55px;
  }

  .name-email-container input {
    font-size: 17px;
  }

  .name-email-container input:last-child {
    margin-top: 45px;
  }

  .name-email-container input::placeholder {
    font-size: 17px;
  }

  .form-container form textarea {
    margin-top: 30px;

    font-size: 17px;
  }

  .form-container form textarea::placeholder {
    font-size: 17px;
  }

  .form-container form button {
    margin-top: 5.5rem;
    font-size: 18px;
  }
}

/* <!-- ============================================ -->
<!--              SCROLL DOWN ARROW                 -->
<!-- ============================================ --> */

/* ADJUST CONTAINER SIZE FOR COMPUTER 750PX AND BELOW=============================================== */
@media screen and (min-width: 1200px) {
  .scrolldownarrow {
    display: none;
  }
}

/* ADJUST CONTAINER SIZE FOR COMPUTER 750PX AND BELOW=============================================== */
@media screen and (max-width: 1200px) {
  .scrolldownarrow {
    margin: auto;
    position: absolute;
    bottom: 0px;
    z-index: 9999;
    width: 200px;
  }
}
